<div align="center">
	<font style="text-decoration: overline; font-size: 20px "> <%= @join.server.name %></font><br>
	<font style="font-size: 20px">Escrivã(o) de Polícia</font><br>
	<font style="font-size: 20px"><%= @join.server.registration %></font>
</div>
