<%= link_to ' Inqueritos ', relatorios_livros_inqueries_path, remote: true, class: 'fa fa-print dropdown-item' %>


<div class="dropdown-divider"></div>

<%= link_to ' Precatórias ', relatorios_livros_precatories_path, remote: true, class: 'fa fa-print dropdown-item' %>

<div class="dropdown-divider"></div>

<%= link_to ' Apreensões ', relatorios_livros_seizures_path, remote: true, class: 'fa fa-print dropdown-item' %>
