<%= link_to ' Ofícios', joins_path, class: 'fa fa-users dropdown-item ' %>
<div class="dropdown-divider"></div>
<%= link_to ' Precatórias', joins_path, class: 'fa fa-users dropdown-item ' %>
<div class="dropdown-divider"></div>
<%= link_to ' Apreensões', joins_path, class: 'fa fa-users dropdown-item ' %>
<div class="dropdown-divider"></div>