<div class="card">
	<div class="card-header">
		<b>Apreensões</b>
	</div>
	
	<% if Seizure.where(inquery_id: @inquery).present? %>
		<% Seizure.where(inquery_id: @inquery).each do |f|%>
		<%= f.quantidade %> - <%= f.name %> <%= f.veiculo.present? ? "DE PLACA #{f.placa}" : 'j' %><br>
		<% end %>
	<% else %>	
		<h2>Sem Apreensões</h2>
	<% end %>


</div>