<div class="header"> 
	<%= wicked_pdf_image_tag 'pc.jpg', class: 'img2' %>
	<%= wicked_pdf_image_tag 'gce.jpg', class: 'img1'%>

	<div align="center">
		<b>	GOVERNO DO ESTADO DO CEARÁ</br>
		POLÍCIA CIVIL</br>
	DEPARTAMENTO DE POLÍCIA DO INTERIOR SUL - DPI SUL</br>
	<%= current_user.registry.name %></br>
	<%= current_user.registry.email %></b>
</div>
</div>
<br>
<br>
